@{
    ViewData["Title"] = "Agent";
}
@model AgentPortal.Models.Agent

<div>
    <h3>Agent</h3>
    <p><b>Agent Code: </b>@Model.AgentCode</p>
    <p><b>Name: </b>@Model.AgentName</p>
    <p><b>Working Area: </b>@Model.WorkingArea</p>
    <p><b>Commission: </b>@Model.Commission</p>
    <p><b>Phone Number: </b>@Model.PhoneNo</p>
    <button class="btn btn-danger" id="delete-btn">Delete</button>
    <button class="btn btn-warning" id="edit-btn">Edit</button>
</div>

<script>

    var deleteButton = document.querySelector('#delete-btn');
    var editButton = document.querySelector('#edit-btn');

    deleteButton.addEventListener('click', () => {
        fetch(
            '/agents/delete/@Model.AgentCode',
            {
                method: 'POST'
            })
            .then(() => window.location.href = '/home/index');
    });

    editButton.addEventListener('click', () => {
        window.location.href = '/agents/edit/@Model.AgentCode';
    });

</script>
