@{
    ViewData["Title"] = "Agent";
}
@model AgentPortal.Models.Agent

<div>
    <h3>Agent</h3>
    <p><b>Agent Code: </b>@Model.AgentCode</p>
    <p><b>Name: </b>@Model.AgentName</p>
    <p><b>Working Area: </b>@Model.WorkingArea</p>
    <p><b>Commission: </b>@Model.Commission</p>
    <p><b>Phone Number: </b>@Model.PhoneNo</p>
</div>
